<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title"><strong>P<sup>2</sup>Labs</strong> Legal Disclaimer</div>      
	</div>
</div>

<div id="aboutText" class="P2CText">
	<table border="0" cellspacing="5" cellpadding="5" width="100%">
		<tr>
			<td align="center" valign="center" colspan="2">
				<img src="./images/logo150-text.png" border="0">
			</td>
		</tr>
		<tr>
			<td align="justify" valign="center" colspan="2">
				While <strong>P<sup>2</sup>Labs</strong> makes every effort to deliver high quality products, we do not guarantee that our products are free from defects.
				Our software is provided 'as is' and you use the software at your own risk.
				<br/>
				<br/>
				We make no warranties as to performance, merchantability, fitness for a particular purpose, or any other warranties whether expressed or implied.
				No oral or written communication from or information provided by <strong>P<sup>2</sup>Labs</strong> shall create a warranty.
				<br/>
				<br/>
				Under no circumstances shall <strong>P<sup>2</sup>Labs</strong> be liable for direct, indirect, special, incidental, or consequential damages resulting from the use, misuse, or inability to use this software, even if <strong>P<sup>2</sup>Labs</strong> has been advised of the possibility of such damages.
			</td>
		</tr>
	</table>
</div>
