<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">User Preferences</div>      
	</div>
</div>
<center>
	<table border="0" width="90%" cellspacing="0" cellpadding="2">
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText" colspan="2">
				<center><b>Google Voice&trade; Settings</b></center>
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>

		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/text32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Number</strong>:<br/>This is the number you received when you signed up.
				This is required in order to make <strong>Google Voice&trade; communications service</strong> phone calls.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/text32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>PIN</strong>:<br/>This is the PIN number you use to log in (if you have selected to use one).
				<strong>P<sup>2</sup>Labs</strong> highly recommends you take advantage of this security precaution.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText" colspan="2">
				<center><b>Google&trade; Account Settings</b></center>
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/text32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Email Address</strong>: This is the email address you use to log in to your Google&trade; account and is needed to send SMS text messages.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/text32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Password</strong>: This is the password you use to log in to you Google&trade; account and is needed to send SMS text messages.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText" colspan="2">
				<center><b>Palm&trade; Phone Settings</b></center>
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/delay32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Delay between tones</strong>: You can adjust the time between tones sent when you place your <strong>Google Voice&trade; communications service</strong> phone call (default is <strong>2</strong> seconds).
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText" colspan="2">
				<center><b>User Interface Settings</b></center>
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/alerts32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Show alerts:</strong><br/>You may choose to have small banner notifications appear at the base of your screen.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/sound32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Use sound:</strong><br/>You may choose to have a small feedback <strong>sound</strong> play when you tap on commands.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/shake32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Shake to go back:</strong><br/>Choose the <strong>shake</strong> option to enable you to shake your device and return to the previous screen.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
	</table>
</center>
