<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">What's New</div>      
	</div>
</div>
<center>
	<table border="0" width="90%" cellspacing="0" cellpadding="0">
		<tr>
			<td valign="top" class="P2ChangeLogText">
				<strong>Release: 1.0.3</strong>
				<ul>
					<li>Added GOOG-411 button</li>
					<li>Added voice mail button</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td valign="top" class="P2ChangeLogText">
				<strong>Release: 1.0.2</strong>
				<ul>
					<li>New layout of Main scene</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td valign="top" class="P2ChangeLogText">
				<strong>Release: 1.0.1 (internal)</strong>
				<ul>
					<li>User preference of shake to clear</li>
					<li>New layout of Preferences scene</li>
					<li>Added history for last 10 events</li>
					<li>Link to product manual site</li>
					<li>Changed to secure sessions </li>
				</ul>
			</td>
		</tr>
		<tr>
			<td valign="top" class="P2ChangeLogText">
				<strong>Release: 1.0.0</strong>
				<ul>
					<li>Updated manual dial keypad</li>
					<li>Updated main scene for faster use</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td valign="top" class="P2ChangeLogText">
				<strong>Release: 0.9.2 (internal)</strong>
				<ul>
					<li>Enhanced error checking</li>
					<li>Expanded instructions</li>
					<li>Enlarged Send Feedback button</li>
					<li>Enlarged Send Message button</li>
					<li>Changed URL of website page</li>
					<li>Added What's New (this page)</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td valign="top" class="P2ChangeLogText">
				<strong>Release: 0.9.1</strong>
				<ul>
					<li>Initial release to App Catalog</li>
				</ul>
			</td>
		</tr>
	</table>
</center>
