<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">About <strong>P<sup>2</sup>GoogleVoice</strong></div>      
	</div>
</div>
<div id="aboutText" class="P2CText">
	<table border="0" cellspacing="5" cellpadding="5" width="100%">
		<tr>
			<td align="center" valign="center">
				<img src="./images/logo200-text.png" border="0">
				<br/>
				<strong>© 2009 P<sup>2</sup>Labs</strong>.
				<br/>
				All rights reserved.
				<div id="verInfo" name="verInfo" style="font-size: 10pt; font-weight: normal; text-align: center;"> </div>				
			</td>
		</tr>
		<tr>
			<td align="center" valign="center">
				<strong>Google&trade;</strong> & <strong>Google Voice&trade; communications service</strong> are registered trademarks of <strong>Google&trade; Inc.</strong>
			</td>
		</tr>
		<tr>
			<td align="center" valign="center">
				<strong>Palm&trade;</strong> & <strong>WebOS&trade;</strong> are registered trademarks of <strong>Palm&trade; Inc.</strong>
			</td>
		</tr>
		<tr>
			<td align="center" valign="center">
				There is no affiliation between <strong>P<sup>2</sup>Labs</strong> and this <strong>P<sup>2</sup>GoogleVoice</strong> software application and <strong>Google&trade; Inc.</strong> or <strong>Palm&trade; Inc.</strong>
			</td>
		</tr>
	</table>
</div>
