<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">History</div>      
	</div>
</div>
<center>
	<table border="0" width="90%" cellspacing="0" cellpadding="2">
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="P2TableText" colspan="2">
				<center><b>Viewing Historical Events</b></center>
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		
		<tr>
			<td valign="top" align="center" class="P2TableText">
				<img border="0" src="./images/phone32.png">
				<br/>
				<img border="0" src="./images/sms32.png">
			</td>
			<td valign="top" class="P2TableText" colspan="2">
				<strong>Phone Calls & Text Messages:</strong><br/>Tap the event to display a popup menu.
				You will be able to initiate a phone call or text message.
			</td>
		</tr>
		<tr>
			<td valign="top" class="P2TableText" colspan="2"><hr/></td>
		</tr>
	</table>
</center>
