<center>
	<div id="phone-main" class="palm-dark">
		<div class="glass-panel" id="panel">
			<div class="input-field">
				<span id="dialpad_input">
					<div class="truncating-text text-input" id="dial_textfield" x-mojo-tap-highlight="immediate">Enter number...</div>
				</span>
	        </div>
			
			<div id="delete_button" class="backspace"> </div>
	
			<div id="numbers" class="keypad">
				<div id="keypad_buttons">
					<div class="keypad-row">
					<div class="key glassbutton one" id="b_1"> </div>
					<div class="key glassbutton two" id="b_2"> </div>
					<div class="key glassbutton three" id="b_3"> </div>
				</div>
	
				<div class="keypad-row">
					<div class="key glassbutton four" id="b_4"> </div>
					<div class="key glassbutton five" id="b_5"> </div>
					<div class="key glassbutton six" id="b_6"> </div>
				</div>
				
				<div class="keypad-row">
					<div class="key glassbutton seven" id="b_7"> </div>
					<div class="key glassbutton eight" id="b_8"> </div>
					<div class="key glassbutton nine" id="b_9"> </div>
				</div>
				
				<div class="keypad-row">
					<div class="key glassbutton star" id="b_*"> </div>
					<div class="key glassbutton zero" id="b_0"> </div>
					<div class="key glassbutton pound" id="b_#"> </div>
				</div>
	
				<div id="dial_button" class="dial-button"> </div>
			</div>
	
			<div class="P2CText">
				<br/>
				<strong>Press and hold 0 to enter a + sign</strong>
			</div>
	
		</div>
	</div>
</center>