<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">Preferences</div>      
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Google Voice&trade; Number</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="gvNum" name="gvNum" x-mojo-element="TextField" style="text-align: left;"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Google Voice&trade; PIN</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="gvPIN" name="gvPIN" x-mojo-element="PasswordField" style="text-align: left;"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Google&trade; Account Email Address</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="gvEmail" name="gvEmail" x-mojo-element="TextField" style="text-align: left;"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Google&trade; Account Password</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="gvPassword" name="gvPassword" x-mojo-element="PasswordField" style="text-align: left;"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Delay Between Dialling Tones</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<br/>
			<div id="gvDelay" name="gvDelay" x-mojo-element="Slider"> </div>
			<div id="tmp" name="tmp" class="P2CText">&nbsp;</div>
			<div id="gvDelayPrompt" name="gvDelayPrompt" class="P2CText"> </div>
			<br/>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>User Interface</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<table class="palm-list-section-label">
					<tr>
						<td>
							<span x-mojo-loc="">Show alerts</span>		
						</td>
						<td>
							<div id="useBanners" x-mojo-element="ToggleButton" class="toggle-text">	 </div>
						</td>	
					</tr>
					<tr>
						<td>
							<span x-mojo-loc="">Use sound</span>		
						</td>
						<td>
							<div id="useSound" x-mojo-element="ToggleButton" class="toggle-text"> </div>
						</td>	
					</tr>
					<tr>
						<td>
							<span x-mojo-loc="">Shake to go back</span>		
						</td>
						<td>
							<div id="useShake" x-mojo-element="ToggleButton" class="toggle-text"> </div>
						</td>	
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
