<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">Sending SMS Messages</div>      
	</div>
</div>
<center>
	<table border="0" width="90%" cellspacing="0" cellpadding="2">
		<tr>
			<td valign="top" width="1%">
				<img border="0" src="./images/text32.png">
			</td>
			<td valign="center" class="P2TableText">
				<strong>Message</strong>:<br/>Enter your message (up to 160 characters) and tap send.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" width="1%">
				<img border="0" src="./images/info.png">
			</td>
			<td valign="center" class="P2TableText">
				<strong>What happens next</strong>?<br/>This application will log in to your <strong>Google Voice&trade; communications service</strong> page over the web (in the background).
				It will then move to your inbox, instruct Google&trade; that you wish to send a text message and then pass this message to <strong>Google Voice&trade; communications service</strong> for transmission.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
		<tr>
			<td valign="top" width="1%">
				<img border="0" src="./images/warning32.png">
			</td>
			<td valign="center" class="P2TableText">
				<strong>Please note</strong>:<br/>This operation may take a few moments due to possible response times from Google&trade;.
				Please be patient.
			</td>
		</tr>
		<tr>
			<td valign="center" class="P2TableText" colspan="2"><hr/></td>
		</tr>
	</table>
</center>
