<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"> </div>                        
		<div class="title">An Error Has Occurred</div>
	</div>
</div>
<div class="palm-fullscreen-error">
	<div class="large-icon error"> </div>
	<div class="fullscreen-message">
		No valid data for this contact.
	</div>
	
	<div class="palm-body-text" style="text-align: justify;">
		This contact has <strong>no phone number(s)</strong> recorded, <strong>no first or last name</strong> recorded, or was <strong>imported incorrectly</strong> from a diffferent address book.
	</div>
</div>
