<div class="palm-row multi-line" id='#{name}_example' x-Mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<div class="label"><img  id="icon" name="icon" src="#{-img}"></div>
		<div class="title truncating-text" id="title" name="title" x-mojo-loc="">#{-name}</div>
		<div class="preview truncating-text" id="text" name="title" x-mojo-loc="">&nbsp;&nbsp;&nbsp;&nbsp;#{-desc} - <b>#{-num}</b></div>
		<div class="preview" id="spacer">&nbsp;&nbsp;&nbsp;&nbsp;</div>
	</div>
</div>
